/* -----------------------------------------------------------
	General
----------------------------------------------------------- */
body
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
}

img {
        border: none;
}

/* -----------------------------------------------------------
	Tables
----------------------------------------------------------- */
table
{
	margin: 10px 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table th
{
	padding: 10px;
	background: #eeeeee;
	border: 1px solid #cdcdcd;
	text-align:left;
}

/* -----------------------------------------------------------
	Forms
----------------------------------------------------------- */
form {
        margin: 10px 20px 10px 0;
}


input[type=text],
input[type=password],
input[type=file]
{
    	margin: 0;
        padding: 7px 7px 6px 7px;
        clear: both;
        overflow: hidden;
        border-top: 1px solid #b3b3b3;
        border-left: 1px solid #b3b3b3;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        width: 200px;
        outline: none;
}

input[type=text]:focus,
input[type=password]:focus
{
        border-color: #666666;
}

input[type=submit],
input[type=button]
{
	margin: 0;
	padding: 6px 12px 6px 12px;
	background: #e5e3e3 url("/beheer/resources/images/button.png") repeat-x;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #c6c6c6;
	color: #515151;
	outline: none;
        cursor: pointer;
}

#content div.box form input[type=submit]:hover,
#content div.box form input[type=button]:hover
{
	margin: 0;
	padding: 6px 12px 6px 12px;
	background: #b4b4b4 url("/beheer/resources/images/button_selected.png") repeat-x;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #afafaf;
	color: #515151;
	outline: none;
}